{{ define "common_body_start" -}}
<div class="hidden md:block bg-color-white">
    <div class="container">
      <div id="block-museum-breadcrumbs">
  
    
        <nav role="navigation" aria-labelledby="system-breadcrumb" class="pt-4">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol class="list-reset flex justify-end">
        </ol>
  </nav>

  </div>

    </div>
  </div>
<div role="main" class="main-container js-quickedit-main-content pb-8 bg-color-white">
<div class="container">
{{ end }}
