{{ define "common_header" -}}
<!DOCTYPE html>
<html class="text-sm js fontawesome-i2svg-active fontawesome-i2svg-complete" lang="en">
    <head>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ if (IsAvailable "URIPrefix" . ) }}{{ .URIPrefix }}{{ end }}images/favicon.ico" type="image/vnd.microsoft.icon" />
	
	<title>SFO Museum{{ if (IsAvailable "PageTitle" . ) }} | {{ .PageTitle }}{{ end }}</title>

	<!-- CSS is loaded sfomuseum.AppendResourcesHandlerWithPrefix -->	
    </head>

    <body class="bg-color-mercury font-sans text-color-emperor leading-normal eu-cookie-compliance-status-null eu-cookie-compliance-popup-open">

      <a href="#main-content" class="visually-hidden focusable">
	  Skip to main content
      </a>
      
      <noscript aria-hidden="true"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RC9JJ5" height="0" width="0" style="display:none;visibility:hidden" title="googletagmanager"></iframe></noscript>
      
      <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
	  {{ template "common_navi" . -}}
{{end}}
