{{ define "common_header_navi" }}

<nav class="navbar navbar-expand-lg bg-color-kumera" id="navbar-sfomuseum">
<div class="container-fluid navbar-container-sfomuseum" id="navbar-container-sfomuseum">

  <a class="navbar-brand" href="/"><img src="/images/logo.svg" alt="Home" id="navbar-logo-sfomuseum" height="46" width="149" /></a>

  <button class="navbar-toggler navbar-toggler-sfomuseum" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navbar-nav-sfomuseum">
	  {{ if (IsAvailable "Account" .) }}
	  <li class="nav-item">	  
		{{ if .Account }}
		<a href="/signout/{{ if .Crumb }}?crumb={{ .Crumb }}{{ end }}">Sign out</a>
		{{ else }}
		<a href="/signin/">Sign in</a>
		{{ end }}
	  </li>		
	  {{ end }}
	  <li class="nav-item">Hello</li>	  
      </ul>

      {{ if (IsAvailable "IncludeNaviSearch" .) }}
      {{ if .IncludeNaviSearch }}
      {{template "common_header_navi_search" . -}}
      {{ end }}
      {{ end }}
      
  </div>
  
</div>
</nav>
{{ end }}
