{{ define "common_footer" -}}
	</main>
	<footer>

		<nav role="navigation" id="block-museum-menu-footer">
            
	    	<ul>
		    <li><a href="http://www.flysfo.com">Visit FlySFO</a></li>
		    <li><a href="https://www.sfomuseum.org/about/contact">Contact</a></li>
         	    <li><a href="https://www.sfomuseum.org/about/image-permissions">Image Permissions</a></li>
        	</ul> 
               </nav>

		<ul id="faq-privacy">
			<li><a href="https://www.sfomuseum.org/about/faqs">FAQs</a></li>
			<li><a href="https://www.sfomuseum.org/privacy">Privacy</a></li>
		</ul>
			       
      		<p id="copyright">© San Francisco International Airport</p>
	    
	</footer>

	<!--
	<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-3195986-6', 'auto');
ga('send', 'pageview');
	</script>
	-->
	
</body>
</html>
{{ end }}
