/* Fonts */

@font-face {
  font-family: "cartogothicstd-book";
  src: url("/fonts/cartogothicstd-book-webfont.woff");
}

@font-face {
  font-family: "cartogothicstd-bold";
  src: url("/fonts/cartogothicstd-bold-webfont.woff");
}

@font-face {
  font-family: "cartogothicstd-italic";
  src: url("/fonts/cartogothicstd-italic-webfont.woff");
}

body {
    font-family: "cartogothicstd-book", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2 {
    color: rgb(93, 93, 93) !important;
}

input {
    border-radius: 0px !important;
}

h2 small {
    color: rgb(93, 93, 93) !important;
}

td a {
    font-weight: 300;
}

/* IDs */

#navbar-brand-search {
    position:absolute;
    right: 2rem;
}

#navbar-sfomuseum {
	padding-left:1.5rem;
	padding-right:1.5rem;
	background-color: #8a741d;;
	color: #fff;
	text-shadow: none;
	outline: 0;
}

#navbar-nav-collection {
    justify-content:center;
    max-width:60%;
    margin:0 auto;
}

#navbar-search {
    background-color: #a0915e;
    text-align:right;
    display:flex;
    justify-content:right;
    padding:.75rem;
    padding-right:2rem;
    display:none;
}

#navbar-search-form button {
    display:inline-block;
    padding-left:2rem !important;
    padding-right:2rem !important;
    border:none !important;
}

#navbar-search-form input {
    border:none !important;
    width:25vw;
}

#navbar-search-form-wrapper {
    display:flex;
    justify-content:right;
}

#navbar-search-svg-wrapper {
    padding:.25rem;
    padding-left:.5rem;
    background-color:#fff;
}

#search-navi-right {
    display: inline-block;
    float: right;
}

#sfom-navi-dropdown-menu {
    
}

/* search input in navi header - display when mobile */

#sfom-navi-search {
    display: none !important;
}

/* search input in navi dropdown - hide when mobile */

#sfom-navi-search-dropdown {
    width: 210px !important;
}

details.form-group :focus{
    // background-color: red !important;
}


details.form-group summary {
    margin-bottom: .75rem;
}

details.form-group details {
    justify-items: left !important;
    gap: 0px 0px !important;
    /* max-height:40vh; */
    overflow-y: scroll;
    padding-bottom: 1rem !important;
    margin-left: 2rem;
}

.nav-link:focus, .nav-link:hover {
    background: transparent !important;
}

.dropdown-item .nav-link {
    padding-left: 0px !important;
}

/* the little downward arrow for bootstrap menus */
.dropdown-toggle::after {
    content: "" !important;
}

/* the actual menu thing */

.dropdown-menu {
    border-radius:0px;
    background-color:#8a741d;
    border: none !important;
    padding: 1rem;
    padding-top:2rem;
}

.dropdown-menu.show {
    left: -150px !important;
    width: 250px !important;
}

.nav-item {
    margin-left:.5rem;
    margin-right:.5rem;
}

.nav-link {
    color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 1000px) {

    #sfom-navi-dropdrown {
	padding-left: 0px !important;
    }

    #sfom-navi-dropdown-menu {
	margin-left: 106px !important;
	width: 100vw !important;
	padding-left: 2.5rem !important;
    }


    .grid-view-search-years {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    }

    .navbar-container-collection {
	align-items: normal !important;
    }

    .navbar-toggler {
	padding:0px !important;
	margin-top:.2rem !important;
	position:absolute !important;
	right:1rem !important;
    }

    #navbar-brand-search {
	margin-top:.4rem !important;
	right: 3.5rem !important;
    }

    #navbar-logo-collection {
	max-height:28px;
	max-width:90px;
    }
}

@media (max-width: 975px) {

    /* this is what makes the no-JS hamburger menu work */
    /* id attribute is defined in inc_head_navi.txt */
    /* id property is removed on window load if JS is enabled in sfomuseum.collection.init.js */

    #navbar-colletion {
	padding-right: 0px !important;
    }

    #navbar-container-collection:hover  #navbarSupportedContent {
	display:block !important;
    }

    /* these are stylistic choices for the hamburger content independent of whether JS is enabled */

    #navbarSupportedContent ul {
	max-width:none !important;
    }
    
    #navbarSupportedContent ul li {
	display:inline !important;
    }

}
