
/* IDs */

#block-museum-sociallinks {
	text-align:center !important;
}

#block-museum-menu-footer {
	justify-content: center;
	display: grid;
}

#block-museum-copyright {
	text-align:center !important;
}


#block-mainnavigation-footer  a {
	color: #616161 !important;
}

#block-mainnavigation-footer  a:hover {
	color: #616161 !important;
}

#block-museum-footerbottom  a {
	color: #616161 !important;
}

#block-museum-footerbottom  a:hover {
	color: #616161 !important;
}

#pagination-previous-page {
    color:#8a741d !important;
}

#pagination-next-page {
    color:#8a741d !important;
}

#pagination-blurb {
    display:none;
    text-align:center;
    font-size:small;
    color:#bbb;
    margin-top:2rem;
}

#summary-label-text {
	font-weight: 700;
	color: #146e8e !important;	
}

/* Classes */

.breadcrumb {
    border: none !important;
    background-color: transparent !important;
    margin-bottom: 0px !important;
    font-size: small;
}

.btn {
    background-color: #8a741d !important;
    color: #fff !important;
    border-radius: 0px !important;
    padding: .4rem !important;
}

.card {
    margin-bottom:1em;
    border: none !important;
}

.card-admin {
    font-size:small;
    font-family: monospace;
    margin-bottom: 0px !important;
    background-color:#ccc;
    border-radius: 0px !important;
    margin-top:4rem;
}

.card-header {
    border: none !important;
    background-color: transparent !important;
}

.card-header-sub {
    display:block;
    font-size: .933rem !important;
    margin-top:.5rem;
    line-height:1.3rem;
}

.card-header small {
    display:block;
    font-size: .85rem;
    margin-top:.5rem;
    line-height:1.3rem;
}

.card-img-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    display:block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    max-width: -moz-available !important;
    max-width: -webkit-available !important;
    max-width: available !important;
}

.card-footer {
    background-color: transparent !important;
    border: none !important;
}

.card-sfomuseum-image {
	border: none !important;
    padding-top:.75rem !important;
}

.caveat-map {
    font-size:.9rem;
    line-height:1.3rem;
    margin-bottom:2rem;
    font-style:italic;
}

.creditline {
	font-size: small;
	font-style: italic;
	width: 640px;
	margin: 0 auto;
	margin-bottom:2rem;
}

.hey-look {
	font-weight: 700;
}

.image-attribution {
    line-height:1.2rem !important;
    font-size:.6rem !important;
}

.image-creditline {
    font-size:small;
    line-height:1.3rem;
    margin-top:.5rem;
}

.image-details {
    margin-top:1rem;
}

.image-single {
    max-height: 270px !important;
    max-width: 270px !important;
}

.image-toggle {
    margin-top:2rem;
    margin-bottom:1.5rem;
    text-align:center;
    display:block;
}

.image-toggle button {
    border:solid thin;
    font-size: small;
    background-color:transparent;
    display:inline;
}

.image-tiles .leaflet-control-attribution {
    	display: none;
}

.inc_details_blurb {
    font-size:small !important;
    line-height: 1.3rem;
}

.inc_details_item {
    text-decoration:underline;
    padding-top:.3rem;
}

.image-map .feature-map {
    max-height:500px !important;
}

.inline {
	background-color:#ededed;
	padding: 2rem !important;
	padding-top:1rem !important;
	padding-bottom:1.5rem !important;
	display: inline-block !important;
}

.inline li {
	display: inline;
	padding: 0px !important;
	margin: 0px !important;
	color:#666;
}

.inline li:before {
	// content: ", ";
	content: " and ";
	color:#666;
	// border: 1px solid red;
}

.inline li:first-child:before {
	content: "" !important;
}

.inline-refine {
    width: 100% !important;
    background-color: #fff !important;
}

.inline-refine li:before {
    content: "" !important;
}

.inline-refine li {
    margin-right: 1rem !important;
}

.leaflet-div-icon {
    border: none !important;
    background-color: transparent !important;
}

.list-view {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list-view-still {
    height:355px;
}

.list-view-still img {
    max-height:270px !important;
}

.list-view-image-placeholder {
    min-height:270px;
    min-width:270px;
    max-height:270px;
    max-width:270px;
    /* border:solid thin; */
    margin: 0 auto;
    margin-bottom:1rem;    
    background-color:#ccc;
    /* https://css-tricks.com/stripes-css/ */
    background: repeating-linear-gradient(
	45deg,
	#d9d9d9,
	#d9d9d9 10px,
	#e9e9e9 10px,
	#e9e9e9 20px
    );
}

.list-view-image-placeholder-missing {
    background: repeating-linear-gradient(
	180deg,
	#d9d9d9,
	#d9d9d9 10px,
	#e9e9e9 10px,
	#e9e9e9 20px
    );    
}

.list-view-item {
    min-width:320px;
    max-width:320px; 
    min-height:520px;
    max-height:520px;
    margin:.5rem;
    margin-bottom:2rem;
    border-bottom:none !important;
    /* border:1px solid red !important; */
}

.list-view-item-caption {
	line-height:1.3rem;
	max-width: 300px;
	font-size:.933rem;
}

.main-container a {
	color: #8a741d !important;
}

.main-container a:hover {
	color: #8a741d !important;
}

.pagination {
    margin-top:4rem;
}

.page-item a {
    color: #8a741d;
}

/* media queries are in sfomuseum.common.media.css */
