/* IDs */

#spinner {
    display:none;
}

/* Classes */

.spinner:after {
    content: '';
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin-top: .3rem;
    margin-right: 1rem;
    border-radius: 100%;
    border: 2px solid #ccc;
    border-top-color: #146e8e;
    animation: spinner .6s linear infinite;
    display: inline-block;
}

/* Animations */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* https://stephanwagner.me/only-css-loading-spinner */

@keyframes spinner {
  to {transform: rotate(360deg);}
}
