body { background-color: #fff!important; }
#block-museum-sociallinks { text-align: center!important; }

#block-museum-menu-footer
{
	justify-content: center;
	display: grid;
}

#block-museum-copyright { text-align: center!important; }
#block-mainnavigation-footer a { color: #616161!important; }
#block-mainnavigation-footer a:hover { color: #616161!important; }
#block-museum-footerbottom a { color: #616161!important; }
#block-museum-footerbottom a:hover { color: #616161!important; }

.breadcrumb
{
	border: none!important;
	background-color: transparent!important;
	margin-bottom: 0!important;
	font-size: small;
}

.image-single
{
	max-height: 270px!important;
	max-width: 270px!important;
}

.inline
{
	background-color: #ededed;
	padding: 2rem!important;
	padding-top: 1rem!important;
	padding-bottom: 1.5rem!important;
	display: inline-block!important;
}

.inline li
{
	display: inline;
	padding: 0!important;
	margin: 0!important;
	color: #666;
}

.main-container a { color: #8a741d!important; }
.main-container a:hover { color: #8a741d!important; }
.page-item a { color: #8a741d; }

.page-item.active a
{
	color: #fff!important;
	background-color: #8a741d!important;
	border: 1px solid #8a741d!important;
}